:root {
  /* Font-families */
  --primary-font-family: "Montserrat Alternates", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  /* Text-colors */
  --primary-text-color: #151515;
  --secondary-text-color: #FFFFFF;
  /* Accent-colors */
  --accent-color: #2D8997;
  --secondary-accent-color: #36B3C6;
  /* icon-colors */
  --primary-icon-color: #000000;
  /* background-colors */
  --primary-bg-color: #F8F8F8;
  --secondary-bg-color: #D8ECF0;
  /* transition */
  --hft: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* frame-color */
  --frame-color: #000000;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 32px;
  margin: 0 auto;
}
@media screen and (min-width: 1028px) {
  .section {
    padding-top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 160px;
  }
}

.container {
  width: 315px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 1028px) {
  .container {
    width: 755px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1030px;
  }
}

.section__title {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1028px) {
  .section__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .section__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 48px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 36px;
  margin: 0 auto;
  color: var(--secondary-text-color);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  border-radius: 10px;
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--hft);
  transition: background-color var(--hft);
}
.button:hover, .button:focus {
  background-color: #005360;
}
.button:active {
  background-color: #003b44;
}
@media screen and (min-width: 1028px) {
  .button {
    width: 172px;
    height: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    width: 226px;
    height: 61px;
    font-size: 24px;
  }
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 24px;
    line-height: 1.5;
  }
}

.link {
  font-size: 16px;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color var(--hft);
  transition: color var(--hft);
}
.link:hover, .link:focus {
  color: var(--secondary-accent-color);
}
@media screen and (min-width: 1440px) {
  .link {
    font-size: 24px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding-top: 28px;
  padding-right: 24px;
  background-color: transparent;
}

.header__tel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.header__link {
  position: relative;
  padding-right: 40px;
  color: var(--secondary-text-color);
}
.header__link .icon {
  position: absolute;
  top: 11px;
  left: -35px;
}
@media screen and (min-width: 1028px) {
  .header__link {
    font-size: 16px;
  }
}

.hero {
  padding-top: 142px;
  padding-bottom: 100px;
  background-image: url(../images/mobile-hero-bg-min.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/mobile-hero-bg@2-min.png);
  }
}
@media screen and (min-width: 1028px) {
  .hero {
    background-image: url(../images/tablet-hero-bg-min.png);
  }
}
@media screen and (min-width: 1028px) and (min-device-pixel-ratio: 2), screen and (min-width: 1028px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1028px) and (min-resolution: 192dpi), screen and (min-width: 1028px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tablet-hero-bg-min.png);
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../images/desktop-hero-bg-min.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/desktop-hero-bg-min.png);
  }
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1028px) {
  .hero-container {
    gap: 32px;
  }
}

.hero__text {
  padding: 16px 24px;
  max-width: 285px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  border-radius: 10px;
  background: rgba(21, 21, 21, 0.6);
}
@media screen and (min-width: 1028px) {
  .hero__text {
    max-width: 443px;
  }
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  border-radius: 10px;
  -webkit-transition: background-color var(--hft);
  transition: background-color var(--hft);
}
@media screen and (min-width: 1028px) {
  .price__item {
    padding: 36px 77px 37px 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.price__item:hover {
  background-color: var(--secondary-bg-color);
}

.price__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1028px) {
  .price__item:not(:last-child) {
    margin-bottom: 24px;
    position: relative;
  }
  .price__item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-bg-color);
  }
}

.price__wrapper {
  margin-right: auto;
}
@media screen and (min-width: 1028px) {
  .price__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .price__wrapper {
    width: 510px;
  }
}

.price__service {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1028px) {
  .price__service {
    margin-right: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .price__service {
    font-size: 24px;
  }
}

.price__price-tag {
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .price__price-tag {
    font-size: 24px;
  }
}

.price__button {
  width: 51px;
  height: 31px;
  font-size: 12px;
  margin: 0;
}
@media screen and (min-width: 1028px) {
  .price__button {
    width: 116px;
    height: 52px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .price__button {
    width: 142px;
    height: 61px;
    font-size: 24px;
  }
}

.masters__name {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .masters__name {
    font-size: 32px;
    font-weight: 500;
  }
}

.masters__description {
  text-align: center;
}

@media screen and (min-width: 1028px) {
  .masters__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 38px;
  }
}

.masters__text-wrapper {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1028px) {
  .masters__text-wrapper {
    margin-top: 0;
    max-width: 359px;
  }
}
@media screen and (min-width: 1440px) {
  .masters__text-wrapper {
    max-width: 480px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1028px) {
  .about__list {
    gap: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .about__list {
    gap: 48px;
    margin-bottom: 48px;
  }
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1028px) {
  .about__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .about__card:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1028px) {
  .about__card-thumb {
    max-width: 347px;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .about__card-thumb {
    max-width: 488px;
  }
}

.about__card-title {
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .about__card-title {
    font-weight: 500;
  }
}

.products {
  padding-bottom: 450px;
}
@media screen and (min-width: 1028px) {
  .products {
    padding-bottom: 510px;
  }
}
@media screen and (min-width: 1440px) {
  .products {
    padding-bottom: 800px;
  }
}

.prev-icon,
.next-icon {
  position: absolute;
  -webkit-transition: -webkit-filter var(--hft);
  transition: -webkit-filter var(--hft);
  transition: filter var(--hft);
  transition: filter var(--hft), -webkit-filter var(--hft);
}

.prev-icon:hover,
.prev-icon:focus,
.next-icon:hover,
.next-icon:focus {
  -webkit-filter: drop-shadow(0px 0px 6px #000);
          filter: drop-shadow(0px 0px 6px #000);
  cursor: pointer;
}

.prev-icon {
  top: 212px;
  left: -40px;
}
@media screen and (min-width: 1028px) {
  .prev-icon {
    left: -80px;
  }
}
@media screen and (min-width: 1440px) {
  .prev-icon {
    left: -40px;
    top: 310px;
  }
}

.next-icon {
  top: 212px;
  right: -40px;
}
@media screen and (min-width: 1028px) {
  .next-icon {
    right: -80px;
  }
}
@media screen and (min-width: 1440px) {
  .next-icon {
    right: -40px;
    top: 310px;
  }
}

.products__item {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 286px;
  max-height: 425px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1028px) {
  .products__item {
    width: 405px;
    max-height: 476px;
  }
}
@media screen and (min-width: 1440px) {
  .products__item {
    width: 450px;
    max-height: 663px;
  }
}

.products__item-thumb {
  padding: 16px;
}
@media screen and (min-width: 390px) and (max-width: 1028px) {
  .products__item-thumb {
    height: 192px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__product-name {
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 1440px) {
  .products__product-name {
    font-size: 24px;
  }
}

.js-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1028px) {
  .js-first {
    -webkit-transform: translateX(-50%) scale(1.03);
            transform: translateX(-50%) scale(1.03);
    -webkit-box-shadow: 6px 8px 6px 0px rgba(0, 0, 0, 0.4), -6px 8px 4px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 6px 8px 6px 0px rgba(0, 0, 0, 0.4), -6px 8px 4px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
}

.js-second {
  display: none;
}
@media screen and (min-width: 1028px) {
  .js-second {
    display: block;
    left: 78%;
  }
}

.js-third {
  display: none;
}
@media screen and (min-width: 1028px) {
  .js-third {
    display: block;
    left: 22%;
  }
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1028px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.footer__wrapper {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--primary-text-color);
}
@media screen and (min-width: 1028px) {
  .footer__wrapper {
    gap: 34px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  font-style: normal;
}
@media screen and (min-width: 1028px) {
  .footer__links {
    gap: 24px;
  }
}

.footer__link {
  position: relative;
  padding-left: 40px;
  font-size: 16px;
}
@media screen and (min-width: 1440px) {
  .footer__link {
    font-size: 24px;
  }
}

.footer__icon {
  position: absolute;
  top: -1px;
  left: 0;
}
@media screen and (min-width: 1440px) {
  .footer__icon {
    top: 3px;
  }
}

.map-wrap {
  width: 290px;
  height: 160px;
  border: 4px solid var(--frame-color);
}
.map-wrap iframe {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1028px) {
  .map-wrap {
    width: 480px;
    height: 244px;
  }
}

.footer__copyright {
  text-align: right;
}
@media screen and (min-width: 1028px) and (max-width: 1440px) {
  .footer__copyright {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */