.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: end;
  width: 100%;
  padding-top: 28px;
  padding-right: 24px;

  background-color: transparent;
}

.header__tel-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__link {
  position: relative;
  padding-right: 40px;
  color: var(--secondary-text-color);

  & .icon {
    position: absolute;
    top: 11px;
    left: -35px;
  }

  @include tablet {
    font-size: 16px;
  }
}
