.masters__name {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  line-height: normal;
  text-align: center;

  @include desktop {
    font-size: 32px;
    font-weight: 500;
  }
}

.masters__description {
  text-align: center;
}

.masters__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 48px;
  }
}

.masters__card {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 38px;
  }

  &:nth-child(even) {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 38px;
    }
  }
}

.masters__text-wrapper {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  @include tablet {
    margin-top: 0;

    max-width: 359px;
  }

  @include desktop {
    max-width: 480px;
  }
}
